* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

.warp {
    width: 100%;
    padding: 10px;
}

[class*="col-"] {
    float: left;
    padding: 10px;
}

.warp .inner {
    background: #eee;
    height: 50px;
    border: 1px solid #999;
}

@media screen and (max-width: 769px) {
    .col-sm-1 {}
    .col-sm-2 {
        width: 16.666667%;
    }
    .col-sm-3 {
        width: 25%;
    }
    .col-sm-4 {}
    .col-sm-5 {}
    .col-sm-6 {
        width: 50%;
    }
    .col-sm-7 {}
    .col-sm-8 {
        width: 66.666667%;
    }
    .col-sm-9 {}
    .col-sm-10 {}
    .col-sm-11 {}
    .col-sm-12 {
        width: 100%;
    }
}

@media screen and (min-width: 768px) {
    .col-md-1 {
        width: 8.333333%;
    }
    .col-md-2 {
        width: 16.666667%;
    }
    .col-md-3 {
        width: 25%;
    }
    .col-md-4 {
        width: 33.33333333%;
    }
    .col-md-5 {
        width: 41.666667%;
    }
    .col-md-6 {
        width: 50%;
    }
    .col-md-7 {
        width: 58.333333%;
    }
    .col-md-8 {
        width: 66.666667%;
    }
    .col-md-9 {
        width: 75%;
    }
    .col-md-10 {
        width: 83.333333%;
    }
    .col-md-11 {
        width: 91.666667%;
    }
    .col-md-12 {
        width: 100%
    }
}
